body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
.Header a {
  color:  whitesmoke;
  /* display: flex; */
  padding: 8px;
  text-decoration: none;
}

.headerItems{
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.Header{
  background-color: black;
  color: whitesmoke;
  display: flex;
  height: 75px;
}

.Header h1 {
  text-align: center;
  margin: 5px 0 0 0;
}

.searchBar{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.albumsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.albumsCards{
  background-color: whitesmoke;
  box-shadow: 10px 5px 15px black ;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0px 15px 15px 15px;
  text-align: center;
}

.searchedContainer{
  text-align: center;
}

.imageLogo{
  border-radius: 50%;
  width: 70px !important;
  height: 70px !important;
  object-fit: cover;
}